@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@* @attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Player,Admin")]
 *@
@inject NavigationManager Nav

<PageTitleHeading Title="@($"Checkers online V{Version}")" HeadingLevel="2" />

<br />

<p>Play Drafts or Checkers with a friend online</p>

<button @onclick="Start">Login to start or join a Game</button>

<br />

<img src="Images/TheBoard.png" width="250"/>

@code{
    private string Version 
    {
        get
        {
            var version = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version?.ToString() ?? "Unknown";
            var parts = version.Split('.');
            if (parts.Length >= 3)
                return $"{parts[0]}.{parts[1]}.{parts[2]}";
            return version;
        }
    }

    private void Start()
    {
        Nav.NavigateTo($"/login");
    }
}