@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@* @attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Player,Admin")]
 *@
@inject NavigationManager Nav

<PageTitleHeading Title="Checkers online" HeadingLevel="2" />

<br />

<p>Play Drafts or Checkers with a friend online</p>

<button @onclick="Start">Login to Start or Join a Game</button>

<br />

<img src="Images/TheBoard.png" width="250"/>

@code{
    private void Start()
    {
        Nav.NavigateTo($"/login");
    }
}