@page "/"
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@* @attribute [Microsoft.AspNetCore.Authorization.Authorize(Roles = "Player,Admin")]
 *@
@inject NavigationManager Nav
@using System.Reflection

<PageTitleHeading Title="@($"Checkers online V{AppVersion}")" HeadingLevel="2" />

<br />

<p>Play Drafts or Checkers with a friend online</p>

<button @onclick="Start">Login to start or join a Game</button>

<br />

<img src="Images/TheBoard.png" width="250"/>

@code{
    public string AppVersion => Assembly.GetExecutingAssembly()
        .GetName()
        .Version?.ToString() ?? "Unknown";

    private void Start()
    {
        Nav.NavigateTo($"/login");
    }
}